<h2>Current debates:</h2>

<% @debates.each do |debate| %>
  <div>
    <p><%= link_to debate.topic, debate %> [<strong><%= debate.code %></strong>]</p>
  </div>
<% end %>

<%= link_to 'New debate', new_debate_path %>
