<h2>New debate:</h2>

<%= form_for @debate do |f| %>

  <% if @debate.errors.any? %>
    <div>
      <ul>
        <% @debate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>Topic:</p>
    <%= f.text_field :topic %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
