$(document).ready(function () {
    var pusherAppKey = '<%= "#{ENV['PUSHER_APP_KEY']}" %>';
    var pusherAppCluster = '<%= "#{ENV['PUSHER_APP_CLUSTER']}" %>';
    var debateCode = $('#debateCode').val();
    pusher = new Pusher(pusherAppKey, {cluster: pusherAppCluster, encrypted: true});
    var channel = pusher.subscribe("admin_channel_" + debateCode);

    channel.bind('comment_added', function (comment) {
        $('#index_table_comments tbody').append(line_html(comment));
    });
});

function line_html(comment) {
    const html = `
      <tr class="${get_class()}">
        <td class="col col-selectable">
          <div class="resource_selection_cell">
            <input type="checkbox" id="batch_action_item_${comment.id} " value="${comment.id}" class="collection_selection" name="collection_selection[]">
          </div>
        </td>
        <td class="col col-id"><a class="resource_id_link" href="${Routes.admin_debate_comment_path($('#debateId').val(), comment.id)}">${comment.id}</a></td>
        <td class="col col-content">${comment.content}</td>
        <td class="col col-status">${comment.status}</td>
        <td class="col col-created_at" width="100px">${format_date(comment.created_at)}</td>
        <td class="col col-actions" width="100px"><div class="table_actions">${generate_links(comment.id)}</div></td>
      </tr>
    `
    return html
}

function generate_links(comment_id) {
    var reject = '<a class="view_link member_link" data-method="put" title="Reject" href="' + Routes.reject_admin_debate_comment_path($('#debateId').val(), comment_id) + '">Reject</a>';
    var accept = '<a class="view_link member_link" data-method="put" title="Accept" href="' + Routes.accept_admin_debate_comment_path($('#debateId').val(), comment_id) + '">Accept</a>';

    return accept + reject;
}

function get_class() {
    var tr_class = $('#index_table_comments tbody tr:first').attr('class');
    if (tr_class == 'even') return 'odd';
    return 'even';
}

function format_date(created_at) {
    var date = new Date(created_at)

    var year = date.getFullYear()

    var month = date.getMonthName()

    var day = sanitize_time(date.getDate())

    var hours = sanitize_time(date.getHours())

    var minutes = sanitize_time(date.getMinutes())

    return month + ' ' + day + ', ' + year + ' ' + hours + ':' + minutes;
}

function sanitize_time(time) {
    return (time >= 0 && time < 10) ? '0' + time.toString() : time;
}

Date.prototype.getMonthName = function () {
    var monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];
    return monthNames[this.getMonth()];
}