// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.vote-box {
  height: 104px;
  width: 230px;
  border: 1px dashed gainsboro;
  border-radius: 7px;
  background-repeat: no-repeat;
}

.positive-box {
  @extend .vote-box;

  &.positive-image {
    background-image: image_url('dashboard/positive.png');
    background-position: 21px 23px;
  }
}

.negative-box {
  @extend .vote-box;

  &.negative-image {
    background-image: image_url('dashboard/negative.png');
    background-position: 21px 23px;
  }
}

h4 {
  &.positive {
    float: right;
    padding-top: 15px;
    padding-right: 45px;
    color: #1297e0;
  }

  &.negative {
    float: right;
    padding-top: 15px;
    padding-right: 45px;
    color: #e34549;
  }
}

h5 {
  &.debate-topic {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 500;
  }
}
