@import "variables";

span.inline {
  display: inline;
  margin: 4px;
}

h4 {
  &.positive {
    color: $light-blue;
    display: table-cell;
    white-space: nowrap;
    float: right;
    padding-top: 14px;
  }

  &.negative {
    color: $light-red;
    display: table-cell;
    white-space: nowrap;
    float: left;
    padding-top: 14px;
  }

  &.votes-count {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding-top: 1px;
    color: $grey;
  }
}

h5 {
  line-height: 150%;
  font-size: 2.3rem;

  &.debate-topic {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 500;
  }

  &.closed-debate {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 400;
    color: $grey;
  }
}

p.debate-status {
  font-weight: 400;
}


.row {
  .col.s5 {
    width: 44.66667%;
  }
}

.row {
  .col.s2 {
    width: 10.66667%;
  }
}

.vote-box {
  height: 104px;
  width: 250px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  padding-bottom: 15px;
  display: table;
  text-align: center;
}

.positive-box {
  @extend .vote-box;
  float: right;

  &.positive-image {
    background-image: image_url('dashboard/positive.svg');
    background-position: right center;
    background-size: 40px;
    padding-right: 50px;
    margin-right: 25px;
  }
}

.negative-box {
  @extend .vote-box;
  float: left;

  &.negative-image {
    background-image: image_url('dashboard/negative.svg');
    background-position: left center;
    background-size: 40px;
    padding-left: 50px;
    margin-left: 25px;
  }
}

.votes-box {
  height: 65px;
  width: 230px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
}

.left-counters {
}

.right-counters {
}

.progress-bar-container {
  position: relative;
  top: -100px;
  overflow: hidden;
  width: calc(100% - 1.25rem);
  height: 20px;
  color: lightgray;
  background: repeating-linear-gradient(-60deg, white, whitesmoke 4px, whitesmoke 4px, white 7px);

  &.positive {
    margin-right: 1.25rem;
  }

  &.negative {
    margin-left: 1.25rem;
  }

  &.left-border-radius {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &.right-border-radius {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #positive-progress-bar, #negative-progress-bar {
    width: 100%;
    height: 20px;
    transition: width 500ms;
  }

  #positive-progress-bar {
    background-color: $light-blue;
  }

  #negative-progress-bar {
    background-color: $light-red;
  }
}

#negative-percent {
  font-size: 35px;
  float: left;
  color: $light-red;
  margin-left: 35px;
}

#positive-percent {
  font-size: 35px;
  float: right;
  color: $light-blue;
  margin-right: 35px;
}

#negative-count {
  margin-top: -35px;
  font-size: 14px;
  color: lightgray;
  float:right;
  padding-top: 10px;
}

#negative-noun {
  @extend #negative-count;
  margin-left: 5px;
}

#positive-count {
  margin-top: -35px;
  font-size: 14px;
  color: lightgray;
  float: left;
  padding-top: 10px;
}

#positive-noun {
  @extend #positive-count;
  margin-left: 5px;
}

#neutral-count {
  font-weight: 500;
}

#neutral-noun {
  font-weight: 400;
}

#votes-noun {
  color: lightgray;
}

.debate {
  margin-bottom: 65px;
}

#center-info {
  position: relative;

  #neutral-count {
    margin-top: -70px;
    position: relative;
    z-index: 2;
    font-weight: 400;
    margin-bottom: 0
  }

  #neutral-noun {
    position: relative;
    z-index: 2;
    color: lightgray;
  }

  #circle-chart {
    position: absolute;
    width: calc(100% + 5.5rem);
    left: -2.75rem;
    top: -115px;
    z-index: 2;

    .ct-series-d .ct-slice-donut {
      stroke: $light-blue;
    }

    .ct-series-b .ct-slice-donut {
      stroke: $light-red;
    }

    .ct-series-a .ct-slice-donut, .ct-series-c .ct-slice-donut {
      stroke: white;
    }
  }
}

#slack-comments {
  height: calc(100vh - 110px);
  border-left: 1px solid $grey;
  background: white;
  overflow: hidden;

  #comments-feed {
  }

  .moving-feed {
    .comment {
      &:nth-child(1) {
        opacity: 0;
        position: absolute;
        width: 100%;
      }
      &:nth-child(2) {
        transition: margin-top 200ms ease-in-out;
      }
    }
  }

  .comments {
    width: 90%;
    padding: 25px;
    position: relative;
  }

  .comment {
    padding: 10px;
    opacity: 1;
    transition: opacity 200ms ease-in-out;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .left .image img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }

    .username {
      padding-left: 15px;
      font-size: 20px;
    }

    .time {
      padding-left: 15px;
      font-size: 17px;
      margin-top: -2px;
      color: $grey;
    }

    .content {
      text-align: justify;
      width: 100%;
      float: left;

      p {
        color: $dark-grey;
        margin: 10px 0 35px;
        font-size: 25px;
        word-wrap: break-word;
      }
    }
  }
}

.call-for-action {
  font-size: 20px;
  height: 100px;
  margin-top: 10px;
  text-align: center;

  span.channel-title {
    background: image_url('dashboard/slack_icon.png') 10px 4px no-repeat;
    background-size: 20px;
    font-weight: 600;
    padding-left: 33px;
    padding-right: 15px;
  }
}

.call-for-action.from-mobile {
  color: $dark-grey;
  margin-top: 50px;
  padding-top: 5px;
  padding-left: 70px;
  text-align: left;

  .app-icon {
    border-radius: 10%;
    margin-right: 20px;
    margin-bottom: -12px;
  }
}

p#debate-status {
  font-weight: 500;
  font-size: 20px;
  margin-top: 25px;
}
