@import "variables";

span.inline {
  display: inline;
  margin: 4px;
}

h4 {
  &.positive {
    color: $light-blue;
    display: table-cell;
    white-space: nowrap;
    float: right;
    padding-top: 14px;
  }

  &.negative {
    color: $light-red;
    display: table-cell;
    white-space: nowrap;
    float: left;
    padding-top: 14px;
  }

  &.votes-count {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding-top: 1px;
    color: $grey;
  }
}

h5 {
  line-height: 150%;
  font-size: 2.3rem;

  &.debate-topic {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 500;
  }

  &.closed-debate {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 400;
    color: $grey;
  }
}

p.debate-status {
  font-weight: 400;
}


.row {
  .col.s5 {
    width: 44.66667%;
  }
}

.row {
  .col.s2 {
    width: 10.66667%;
  }
}

.vote-box {
  height: 104px;
  width: 250px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  padding-left: 80px;
  padding-bottom: 15px;
  display: table;
  text-align: center;
}

.answer-values {
  padding-left: 180px;
}

.negative-value {
  padding-right: 25px !important;
}

.positive-box {
  @extend .vote-box;
  float: right;

  &.positive-image {
    background-image: image_url('dashboard/positive.svg');
    background-position: right center;
    background-size: 40px;
    padding-right: 50px;
    margin-right: 20px;
  }
}

.negative-box {
  @extend .vote-box;
  float: left;

  &.negative-image {
    background-image: image_url('dashboard/negative.svg');
    background-position: left center;
    background-size: 40px;
    padding-left: 50px;
    margin-left: 60px;
  }
}

.votes-box {
  height: 65px;
  width: 230px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
}

.left-counters {
}

.right-counters {
}

.left-border-radius {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right-border-radius {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.progressbar {
  margin-top: -50px;
  overflow: hidden;
  width: 100%;
  height: 20px;
  color: lightgray;
  background: repeating-linear-gradient(-60deg, white, whitesmoke 4px, whitesmoke 4px, white 7px);


}

#right-progress-bar {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 20px;
  background-color: $light-red;
  float: left;
  transition: width 500ms;
}

#left-progress-bar {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: 20px;
  background-color: $light-blue;
  float: right;
  transition: width 500ms ease-out;
}

// #negative-percent {
//   font-size: 35px;
//   float: left;
//   color: $light-red;
//   margin-left: 35px;
// }

// #positive-percent {
//   font-size: 35px;
//   float: right;
//   color: $light-blue;
//   margin-right: 35px;
// }

#negative-count {
  margin-top: -35px;
  font-size: 14px;
  color: lightgray;
  float:right;
  padding-top: 10px;
}

#negative-noun {
  @extend #negative-count;
  margin-left: 5px;
}

#positive-count {
  margin-top: -35px;
  font-size: 14px;
  color: lightgray;
  float: left;
  padding-top: 10px;
}

#positive-noun {
  @extend #positive-count;
  margin-left: 5px;
}

#neutral-count {
  font-weight: 500;
}

#neutral-noun {
  font-weight: 400;
}

#votes-noun {
  color: lightgray;
}

.debate {
  margin-bottom: 45px;
}

#center-info {
  position: relative;

  // #neutral-count {
  //   margin-top: -70px;
  //   position: relative;
  //   z-index: 2;
  //   font-weight: 400;
  //   margin-bottom: 0
  // }

  #neutral-noun {
    position: relative;
    z-index: 2;
    color: lightgray;
  }

  .circle-shadow {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.16);
    position: absolute;
    left: -13px;
    top: -110px;
    width: 140px;
    height: 140px;
    z-index: 1;
  }


  
  #circle-chart {
    width: 153px;
    height: 153px;
    position: absolute;
    left: -20px;
    top: -115px;
    z-index: 2;

    .ct-series-d .ct-slice-donut {
      stroke: $light-blue;
    }

    .ct-series-b .ct-slice-donut {
      stroke: $light-red;
    }

    .ct-series-a .ct-slice-donut, .ct-series-c .ct-slice-donut {
      stroke: white;
    }
  }
}

#comments-feed {
  height: calc(100vh - 110px);
  border-left: 1px solid $grey;
  background: white;
  overflow: hidden;

  .moving-feed {
    .comment {
      &:nth-child(1) {
        opacity: 0;
        position: absolute;
        width: 100%;
      }
      &:nth-child(2) {
        transition: margin-top 200ms ease-in-out;
      }
    }
  }

  .comments {
    width: 90%;
    padding: 25px;
    position: relative;
  }

  .comment {
    padding: 10px;
    opacity: 1;
    transition: opacity 200ms ease-in-out;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .left .avatar {
      width: 60px;
      height: 60px;
      display: table;
    }

    .left .avatar .initials {
      color: white;
      font-size: 1.5em;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    .username {
      padding-left: 15px;
      font-size: 20px;
    }

    .time {
      padding-left: 15px;
      font-size: 17px;
      margin-top: -2px;
      color: $grey;
    }

    .content {
      text-align: justify;
      width: 100%;
      float: left;

      p {
        color: $dark-grey;
        margin: 10px 0 35px;
        font-size: 25px;
        word-wrap: break-word;
      }
    }
  }

  .call-for-action {
    color: $dark-grey;
    margin-top: 50px;
    // padding-top: 5px;
    padding-left: 70px;
    text-align: left;

    padding-top: 65px;

    .app-icon {
      border-radius: 10%;
      margin-right: 20px;
      margin-bottom: -12px;
    }
  }
}

.call-for-action {
  padding-top: 65px;
  font-size: 20px;
  height: 100px;
  text-align: center;

  span.channel-title {
    background: image_url('dashboard/slack_icon.png') 10px 4px no-repeat;
    background-size: 20px;
    font-weight: 600;
    padding-left: 33px;
    padding-right: 15px;
  }
}

p#debate-status {
  font-weight: 500;
  font-size: 20px;
  margin-top: 25px;
}

.answers {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &-values {
    width: calc(50% - #{$circle-size / 2}px);
    display: flex;
    position: relative;
    flex-direction: column;
    
    &.positive {
      align-items: flex-end; 

      .answers-values-people {
        left: 0;
      }

      .answers-values-positive,
      .answers-values-percentage {
        margin-left: 0;
        margin-right: 20px;
      }
    }

    h4 {
      margin: 0;
    }

    &-bar {
      width: 100%;
      height: 20px;
      background: repeating-linear-gradient(-60deg, white, whitesmoke 4px, whitesmoke 4px, white 7px);
    }

    &-people {
      font-size: 16px;
      color: lightgray;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &-percentage {
      font-size: 35px;
      margin-top: 20px;
      margin-left: 20px;

      &.positive {
        color: $light-blue;
      }

      &.negative {
        color: $light-red;
      }
    }
    
    &-positive,
    &-negative {
      margin-bottom: 20px;
    }

    &-positive {
      color: $light-blue;
    }

    &-negative {
      color: $light-red;
      margin-left: 20px;
    }
  }

  &-circle {
    width: #{$circle-size}px;
    height: #{$circle-size}px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    
    // &:before {
    //   content: close-quote;
    //   width: 90%;
    //   height: 90%;
    //   display: block;
    //   position: absolute;
    //   top: 5%;
    //   left: 5%;
    //   background: white;
    // }

    &-count {
      margin: 0;
    }

    &-noun {
      color: lightgray;
    }

    &:before {
      content: close-quote;
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 15px 0 rgba(58, 32, 32, 0.15);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

#votes-chart {
  width: #{$circle-size}px;
  height: #{$circle-size}px;
  background: $light-blue;
  border-radius: 50%;
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .right_half {
    background-color: $light-blue;
  }

  .right_half,
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    transform-origin: left;
    transition: transform .5s;
  }

  &:before {
    background-color: $light-red;
    content: close-quote;
  }
}

#circle-chart {
  width: #{$circle-size + 5}px;
  height: #{$circle-size + 5}px;
  position: absolute;
  z-index: 2;

  .ct-series-d .ct-slice-donut {
    stroke: $light-blue;
  }

  .ct-series-b .ct-slice-donut {
    stroke: $light-red;
  }

  .ct-series-a .ct-slice-donut, .ct-series-c .ct-slice-donut {
    stroke: white;
  }
}