@import "variables";

span.inline {
  display: inline;
  margin: 4px;
}

h4 {
  &.positive {
    color: $light-blue;
    display: table-cell;
    white-space: nowrap;
    float: right;
    padding-top: 14px;
  }

  &.negative {
    color: $light-red;
    display: table-cell;
    white-space: nowrap;
    float: left;
    padding-top: 14px;
  }

  &.votes-count {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding-top: 1px;
    color: $grey;
  }
}

h5 {
  line-height: 150%;
  font-size: 2.3rem;

  &.debate-topic {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 500;
  }

  &.closed-debate {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 400;
    color: $grey;
  }
}

p.debate-status {
  font-weight: 400;
}


.row {
  .col.s5 {
    width: 44.66667%;
  }
}

.row {
  .col.s2 {
    width: 10.66667%;
  }
}

.vote-box {
  height: 104px;
  width: 250px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  padding-left: 80px;
  padding-bottom: 15px;
  display: table;
  text-align: center;
}

.answer-values {
  padding-left: 180px;
}

.negative-value {
  padding-right: 25px !important;
}

.positive-box {
  @extend .vote-box;
  float: right;

  &.positive-image {
    background-image: image_url('dashboard/positive.svg');
    background-position: right center;
    background-size: 40px;
    padding-right: 50px;
    margin-right: 20px;
  }
}

.negative-box {
  @extend .vote-box;
  float: left;

  &.negative-image {
    background-image: image_url('dashboard/negative.svg');
    background-position: left center;
    background-size: 40px;
    padding-left: 50px;
    margin-left: 60px;
  }
}

.votes-box {
  height: 65px;
  width: 230px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
}

.left-counters {
}

.right-counters {
}

.progressbar {
  margin-top: -50px;
  overflow: hidden;
  width: 100%;
  height: 20px;
  color: lightgray;
  background: repeating-linear-gradient(-60deg, white, whitesmoke 4px, whitesmoke 4px, white 7px);

  &.left-border-radius {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &.right-border-radius {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #right-progress-bar {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 20px;
    background-color: $light-red;
    float: left;
    transition: width 500ms;
  }

  #left-progress-bar {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 20px;
    background-color: $light-blue;
    float: right;
    transition: width 500ms;
  }
}

#negative-percent {
  font-size: 35px;
  float: left;
  color: $light-red;
  margin-left: 35px;
}

#positive-percent {
  font-size: 35px;
  float: right;
  color: $light-blue;
  margin-right: 35px;
}

#negative-count {
  margin-top: -35px;
  font-size: 14px;
  color: lightgray;
  float:right;
  padding-top: 10px;
}

#negative-noun {
  @extend #negative-count;
  margin-left: 5px;
}

#positive-count {
  margin-top: -35px;
  font-size: 14px;
  color: lightgray;
  float: left;
  padding-top: 10px;
}

#positive-noun {
  @extend #positive-count;
  margin-left: 5px;
}

#neutral-count {
  font-weight: 500;
}

#neutral-noun {
  font-weight: 400;
}

#votes-noun {
  color: lightgray;
}

.debate {
  margin-bottom: 65px;
}

#center-info {
  position: relative;

  #neutral-count {
    margin-top: -70px;
    position: relative;
    z-index: 2;
    font-weight: 400;
    margin-bottom: 0
  }

  #neutral-noun {
    position: relative;
    z-index: 2;
    color: lightgray;
  }

  .circle-shadow {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.16);
    position: absolute;
    left: -13px;
    top: -110px;
    width: 140px;
    height: 140px;
    z-index: 1;
  }

  #circle-chart {
    width: 153px;
    height: 153px;
    position: absolute;
    left: -20px;
    top: -115px;
    z-index: 2;

    .ct-series-d .ct-slice-donut {
      stroke: $light-blue;
    }

    .ct-series-b .ct-slice-donut {
      stroke: $light-red;
    }

    .ct-series-a .ct-slice-donut, .ct-series-c .ct-slice-donut {
      stroke: white;
    }
  }
}

#slack-comments {
  height: calc(100vh - 110px);
  border-left: 1px solid $grey;
  background: white;
  overflow: hidden;

  #comments-feed {
    transition: padding-top 1s;
  }

  .moved-feed {
  }

  .comments {
    height: 284px;
    width: 90%;
    padding: 25px;
  }

  .comment {
    padding: 10px;
    animation: fadeIn 1s;

    .left .image img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }

    .username {
      padding-left: 15px;
      font-size: 20px;
    }

    .time {
      padding-left: 15px;
      font-size: 17px;
      margin-top: -2px;
      color: $grey;
    }

    .content {
      text-align: justify;
      width: 100%;
      float: left;

      p {
        color: $dark-grey;
        margin: 10px 0 35px;
        font-size: 25px;
      }
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.call-for-action {
  font-size: 20px;
  height: 100px;
  margin-top: 10px;
  text-align: center;

  span.channel-title {
    background: image_url('dashboard/slack_icon.png') 10px 4px no-repeat;
    background-size: 20px;
    font-weight: 600;
    padding-left: 33px;
    padding-right: 15px;
  }
}

.call-for-action.from-mobile {
  color: $dark-grey;
  margin-top: 50px;
  padding-top: 5px;
  padding-left: 70px;
  text-align: left;

  .app-icon {
    border-radius: 10%;
    margin-right: 20px;
    margin-bottom: -12px;
  }
}


p#debate-status {
  font-weight: 500;
  font-size: 20px;
  margin-top: 25px;
}
