@import "variables";

span.inline {
  display: inline;
  margin: 4px;
}

.votes-count-wrapper {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding-top: 1px;
  color: $grey;

  @include media('>=tv') {
    font-size: 30px;
  }
}

h5 {
  line-height: 150%;
  font-size: 2.3rem;

  &.debate-topic {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 500;

    @include media('>=tv') {
      font-size: 3rem;
    }
  }

  &.closed-debate {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 400;
    color: $grey;
  }
}

p.debate-status {
  font-weight: 400;
}

.row {
  .col.s5 {
    width: 44.66667%;
  }
}

.row {
  .col.s2 {
    width: 10.66667%;
  }
}

.votes-box {
  height: 65px;
  width: 230px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
}

.debate {
  margin-bottom: 45px;
}

.comments-feed {
  height: calc(100vh - 110px);
  overflow: hidden;
  
  &-wrapper {
    background-color: #f6f6f6;
  }

  .moving-feed {
    .comment {
      &:nth-child(1) {
        opacity: 0;
        position: absolute;
        width: 100%;
      }
      &:nth-child(2) {
        transition: margin-top 200ms ease-in-out;
      }
    }
  }

  .comments {
    width: 90%;
    padding: 25px;
    margin: 0 auto;
    position: relative;
  }

  .comment {
    padding: 10px;
    opacity: 1;
    transition: opacity 200ms ease-in-out;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .left .avatar {
      width: 60px;
      height: 60px;
      display: table;
    }

    .left .avatar .initials {
      color: white;
      font-size: 1.5em;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    .username {
      padding-left: 15px;
      font-size: 20px;
    }

    .time {
      padding-left: 15px;
      font-size: 17px;
      margin-top: -2px;
      color: $grey;
    }

    .content {
      width: 100%;
      float: left;

      p {
        color: $dark-grey;
        margin: 10px 0 35px;
        font-size: 16px;
        word-wrap: break-word;

        @include media('>=tv') {
          font-size: 25px;
        }
      }
    }
  }

  .call-for-action {
    color: $dark-grey;
    text-align: center;
    padding-top: 0;
    max-width: 200px;
    margin: 65px auto 0 auto;

    .app-icon {
      width: 40px;
      border-radius: 10%;
      margin-right: 20px;
      margin-bottom: -12px;

      @include media('>=tv') {
        width: 60px;
      }
    }
  }
}

.call-for-action {
  padding-top: 65px;
  font-size: 20px;
  height: 100px;
  text-align: center;

  @include media('>=tv') {
    font-size: 26px;
  }


  span.channel-title {
    background: image_url('dashboard/slack_icon.png') 10px 4px no-repeat;
    background-size: 20px;
    font-weight: 600;
    padding-left: 33px;
    padding-right: 15px;
  }
}

.debate-status {
  font-weight: 500;
  font-size: 20px;
  margin-top: 25px;
}

.text-small,
.text-medium {
  font-weight: 500;
  line-height: 1;
}

.text-small {
  font-size: 18px;
  color: #d6d6d6;
  font-weight: 500;

  @include media('>=tv') {
    font-size: 30px;
  }
}

.text-medium {
  font-size: 34px;
  font-weight: 400;

  @include media('>=tv') {
    font-size: 40px;
  }
}