body {
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

#footer {
  background: url("footer/footer_img.png") 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 210px;
}

.container {
  padding-left: 70px;
  padding-right: 70px;
  width: 100%;
  margin: 0 auto;

  &.content {
    padding-top: 135px;
  }
}

