body {
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: image-url("footer/footer_img.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
}

#main {
  flex: 1 0 auto;

  & > .row {
    margin-bottom: 0;
  }
}

.container {
  
  padding: 0 60px;
  width: 100%;
  margin: 0 auto;

  &.content {
    padding-top: 40px;
  }
}

