body {
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: image-url("footer/footer_img.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
}

#main {
  flex: 1 0 auto;
}

.container {
  padding-left: 120px;
  padding-right: 120px;
  width: 100%;
  margin: 0 auto;

  &.content {
    padding-top: 70px;
  }
}

