@import "variables";

nav {
  background-color: $green;
  height: 110px;
  position: relative;
}

.nav-content {
  padding-top: 15px;
}

.logo {
  padding-top: 5px;
}

.col.s4.logo {
  float: left;
  padding-left: 100px;
}

.col.s4.time {
  float: right;
  padding-right: 100px;
}

.box {
  height: 77px;
  background-repeat: no-repeat;
}

.key-box {
  display: flex;
  @extend .box;
  width: 230px;
  margin: 0 auto;
  background-color: $light-green;
  border-radius: 7px;
  align-items: baseline;
  justify-content: center;
  padding-top: 5px;

  h2 {
    margin-left: 10px;
  }
}

#debate-code {
  margin-top: 3px;
}

.nav-time {
  padding-top: 5px;
}

.time-box {
  @extend .box;
  width: 140px;
  float: right;
}

h5.nav-time {
  font-size: 31px;
  float: right;
}

nav {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.35)
}
