$light-blue: #0098E3;
$light-red: #E44043;
$green: #4CC359;
$light-green: #5ec96a;
$dark-grey: #4a4a4a;
$grey: #9E9E9E;
$light-grey: #BBBBBB;

$circle-size: 154;

$breakpoints: (
    default: 320px,
    tv: 1920px,
    projector: 2560px
);